<launch>
  <arg name="chain_name" />
  <rosparam file="$(find kinematic_calibration)/config/params_$(arg chain_name)_general.yaml" command="load"/>
  <node pkg="kinematic_calibration" type="poseSelectionNode" name="poseSelectionNode" output="screen" >
    <rosparam>
      ### Select the pose source: 
      # - "sampling": Sample poses according to the specified parameters (see below).
      # - "measurement": Generate the pose pool from measurements.
      pose_source: "sampling"
      
      ### "sampling" parameters: 
      # number of poses which should be generated
      pose_pool_size: 500
      # name of the camera link / frame
      camera_frame: "CameraBottom_frame"
      # radius of the camera 'view cylinder'
      view_cylinder_radius: 0.01 
   
      # range within which the predicted marker should be:
      xMin: 30
      xMax: 610
      yMin: 30
      yMax: 450
      
      ### "measurement" parameters:
      # (none so far)
      
      ### Pose selection strategy:
      # number of poses which should be selected from the pose pool
      num_of_poses: 50
    </rosparam>
    <param name="pose_file" value="poses_$(arg chain_name)_generated.yaml"/>
  </node>  
</launch>