<launch>
  <arg name="chain_name" />
  <rosparam file="$(find kinematic_calibration)/config/params_$(arg chain_name)_general.yaml" command="load"/>
  <node pkg="kinematic_calibration" type="poseSelectionNode" name="poseSelectionNode" output="screen" >
    <rosparam>
      ### Select the pose source: 
      # - "sampling": Sample poses according to the specified parameters (see below).
      # - "measurement": Generate the pose pool from measurements.
      pose_source: "sampling"
      
      ### "sampling" parameters:
      pose_pool_size: 100
      camera_frame: "CameraBottom_frame"
      view_cylinder_radius: 0.01
      xMin: 30
      xMax: 610
      yMin: 30
      yMax: 450
    </rosparam>
  </node>  
</launch>